<!DOCTYPE html>
<html>

<head>
    <title>line test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="js/leaflet.rotatedMarker.js"></script>
    <script src="js/vue_2.6.0.js"></script>
    <script type="text/javascript" src="js/geoutil.js"></script>
    <script type="text/javascript" src="TCXParser.js"></script>
    <script type="text/javascript" src="GPXParser.js"></script>
    <script type="text/javascript" src="helpers.js"></script>
    <script type="text/javascript" src="drag-and-drop.js"></script>
    <style>
        html,
        body {
            margin: 0px;
            height: 100%;
            width: 100%;
        }

        #map {
            width: 100%;
            height: 100%;
            z-index: -4 !important;
        }

        .on-top {
            z-index: 2 !important;
        }

        #holder {
            font-family: sans-serif;
            color: #8a8f96;
            width: 100%;
            height: 100px;
            margin: 0 auto;
            position: absolute;
            z-index: 1;

        }

        #holder.hover {
            border: 1px dashed #333;
        }

        #holder .success {
            display: none;
        }

        #data {
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -100px;
            width: 200px;
            height: 200px;
            position: absolute;
            display: block;
            border: 1px solid;
        }

        #data .display {
            width: 100%;
            background-color: rgb(255 255 255 / 54%);
            position: absolute;
            bottom: 0px;
        }

        #data .display .ppp {
            padding: 0px 3px;
        }

        #ui {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

    </style>
    <title>map maker</title>
</head>
<body>
<div id="holder">
    <input type="file" id="fileElem" accept="*.tcx" onchange="onSelectFile(this.files)">
    <div id="status">File API &amp; FileReader API not supported</div>
</div>

<div id="map"></div>
<div id="app">
    <div id="ui">
        <div>timestamp {{state.timestamp}}</div>
        <div>date {{state.date}}</div>
        <div>
            interval:
            <select v-model="realInterval" @change="changeInterval($event)">
                <option v-for="i in intervals" :value="i">{{i}}s</option>
            </select>
            <button @click="testRun">Test</button>
        </div>
        <div>
            <div v-for="time in timeTable"> {{time.a}}r = {{time.b}}t</div>
        </div>
    </div>

    <div id="data">
        <div class="display">
            <div class="ppp">
                <div class="c" style="float:left;">{{state.speed}}km/h</div>
                <div class="c" style="float:right;">{{state.date}}</div>
                <div style="clear:both;"></div>
                <div class="c" style="float:left;">{{state.lat}} {{state.lng}}</div>
                <div class="c" style="float:right;">alt {{state.alt}}m</div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>
<script src="js/time-seeker.js"></script>

<script type="text/javascript" src="js/map.js"></script>
<script>

    function formatDateTime(date) {
        const year = date.getFullYear(); // Рік
        const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Місяць (0-11) + 1
        const day = date.getDate().toString().padStart(2, '0'); // День
        const hours = date.getHours().toString().padStart(2, '0'); // Години
        const minutes = date.getMinutes().toString().padStart(2, '0'); // Хвилини
        const seconds = date.getSeconds().toString().padStart(2, '0'); // Секунди

        return `${year}.${month}.${day} ${hours}:${minutes}`;
    }

    function convertSecondsToTime(seconds) {
        const hours = Math.floor(seconds / 3600); // Кількість годин
        const minutes = Math.floor((seconds % 3600) / 60); // Кількість хвилин
        const remainingSeconds = Math.floor(seconds % 60); // Залишок секунд

        // Форматуємо значення як "00:00:00"
        const formattedTime = [
            hours.toString().padStart(2, '0'),
            minutes.toString().padStart(2, '0'),
            remainingSeconds.toString().padStart(2, '0')
        ].join(':');

        return formattedTime;
    }

    let vueApp = new Vue({
        el: "#app",
        data: {
            realInterval: 5,
            intervals: [0.5, 1, 2, 5, 10, 30, 60],
            state: {
                speed: 0,
                alt: 0,
                lat: 0,
                lng: 0,
                timestamp: 0,
                date: new Date(),
            },
            ts: null,
            ui: {
                follow: false
            },
            timeFilter: {
                start: 0,
                stop: 0,
            },
            childWindow: null,
            mapPoints: [],
        },
        mounted() {
            setTimeout(MAP.init, 100);
            // this.play();

            this.state.date = formatDateTime(new Date());

        },
        beforeMount() {
            if (window.localStorage['interval']) {
                this.realInterval = parseFloat(window.localStorage['interval']);
                console.log(this.realInterval);
            }
        },
        methods: {
            testRun() {
                this.play();
            },
            changeInterval(event) {
                window.localStorage['interval'] = event.target.value;
            },
            selectDataFile(data) {
                this.mapPoints = data;
                this.childWindow = window.open('rec.html', '_blank', 'width=640,height=480');
                MAP.methods.clear();
                let start = this.mapPoints[0];
                MAP.methods.setStart(start.lat, start.lng);
                // this.play();
            },
            clear() {
                MAP.methods.clear();
            },
            sendSize(size) {
                if (this.childWindow) {
                    this.childWindow.sendSize(size);
                }
            },
            play() {
                let videoFps = 29.97003 // Фреймрейт відео
                // this.realInterval = 5 // Інтервал між кадрами у реальному часі (5 секунд)
                const realSecondsPerSecondTimelapse = videoFps * this.realInterval // 149.85015 секунд реального часу на 1 секунду таймлапсу
                let steps = 150;
                let step = realSecondsPerSecondTimelapse / steps;
                let step2 = 1 / steps;
                console.log(step);
                this.clear();
                clearInterval(this.interval);

                let offset = 0;
                let offset2 = 0;
                let index = 0;
                this.interval = setInterval(() => {
                    if (this.mapPoints[index].offset < offset) {
                        index++;
                        let item = this.mapPoints[index];
                        MAP.methods.addPoint(item.lat, item.lng, 0);
                        this.state.speed = item.speed;
                        this.state.alt = item.alt;
                        this.state.lat = item.lat;
                        this.state.lng = item.lng;
                        this.state.timestamp = offset2;
                        // this.state.date = item.time;
                        this.state.date = formatDateTime(item.time);
                        if (index >= this.mapPoints.length - 1) {
                            clearInterval(this.interval);
                            console.log('end');
                            this.childWindow.stopRecording();
                        }
                    } else {
                        // console.log('skip')
                    }
                    offset += step;
                    offset2 += step2;
                }, 1000 / steps);
                setInterval(() => {
                    console.log(offset);
                }, 1000)
            }
        },
        computed: {
            timeTable() {
                return [60 * 60, 60 * 60 * 2, 60 * 60 * 4, 60 * 60 * 6].map(i => {
                    return {
                        a: convertSecondsToTime(i),
                        b: convertSecondsToTime(i / this.realInterval / 30),
                    }
                });
            }
        },
    });

    function onSelectFile(files) {
        Array.prototype.forEach.call(files, function (file) {
            let tcx = file.name.indexOf('.tcx') !== -1;
            let gpx = file.name.indexOf('.gpx') !== -1;
            console.log({tcx, gpx});
            var reader = new FileReader();
            reader.onload = function (e) {
                var contents = e.target.result;
                if (tcx) {
                    let tcxParser = new TCXParser();
                    let latLngs = tcxParser.parse(contents);
                    vueApp.selectDataFile(latLngs, arrayDateDiff(latLngs, 'time'));
                } else if (gpx) {
                    var gpxParser = new GPXParser();
                    gpxParser.parse(contents);
                    gpxParser.tracks.forEach(function (track) {
                        var baseAltitude = track.points[track.points.length - 1].ele;
                        baseAltitude = 0;
                        var date = gpxParser.metadata.time;

                        const month = String(date.getMonth()).padStart(2, '0');
                        const day = String(date.getDate()).padStart(2, '0');
                        const year = date.getFullYear();
                        let dist = 0;
                        const lnglats = track.points.map((l, index) => {
                            dist: dist += track.distance.cumul[index];
                            return {
                                lng: l.lon.toFixed(5),
                                lat: l.lat.toFixed(5),
                                alt: parseInt((l.ele - baseAltitude)),
                                dist: dist,
                                time: l.time,
                                offset: (l.time - track.points[0].time) / 1000
                            };
                        });
                        vueApp.selectDataFile(lnglats, arrayDateDiff(track.points, 'time'));
                    })
                }
            };
            reader.readAsText(file);
        });
    }


    new DragAndDrop('holder', 'status', onSelectFile)
    window.playPath = function () {
        vueApp.play();
    }

    addEventListener("resize", (event) => {
        let size = {w: window.innerWidth, h: window.innerHeight};
        vueApp.sendSize(size);
    });

</script>
</body>
</html>